/* INICIO - Formatações do arquivo INDEX */

#geral {
	width: 990px;
	margin: 10px auto;
}

body {
	font-family: 'Ubuntu Mono', monospace;
}

#topo {
	width: 100%;
	height: 80px;
	background: red;
}

#menu li {
	margin: 15px;
	float: right;
}

#principal {
	width: 700px;
	padding: 10px;
	float: left;
	background: green;
}

#apoio {
	width: 270px;
	float: left;
	background: blue;
}

#apoio img {
	padding: 10px;
	width: 200px;
	height: 170px;
}

#rodape {
	width: 100%;
	clear: both;
	background: yellow;
	height: 30px;
}

/* FIM - Formatações do arquivo INDEX */